# Tuple
* Ordered collection of item/elements
* IMMUTABLE
*Syntax : ()

In [1]:
players = ("Rohit","Virat","Rahane")

In [2]:
print(players)

('Rohit', 'Virat', 'Rahane')

In [3]:
type(players)

tuple

### To access any elements [ ]

In [4]:
players[0]

'Rohit'

In [5]:
len(players)

3

In [6]:
players[-1]

'Rahane'

In [7]:
players[:2]

('Rohit', 'Virat')

In [8]:
players.count("Virat")

1

In [9]:
players.index("Virat")

1

In [10]:
t = (100, [1, 2, 3], "March",2021)

In [11]:
t

(100, [1, 2, 3], 'March', 2021)

In [12]:
players

('Rohit', 'Virat', 'Rahane')

In [14]:
players[0] = "Rohit Sharma"

TypeError: 'tuple' object does not support item assignment

In [15]:
t

(100, [1, 2, 3], 'March', 2021)

In [16]:
t[1]

[1, 2, 3]

In [17]:
t[1].append(4)

In [18]:
t

(100, [1, 2, 3, 4], 'March', 2021)

In [19]:
t[0] = "hundred"

TypeError: 'tuple' object does not support item assignment

In [20]:
t[1].append(5)

In [21]:
t

(100, [1, 2, 3, 4, 5], 'March', 2021)

## =, Shallow copy, Deep copy

In [22]:
team_a = ["Dhawan","Rahane","Ashwin"]

In [23]:
team_b = team_a

In [24]:
team_b

['Dhawan', 'Rahane', 'Ashwin']

In [25]:
team_a.append("axar")

In [26]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'axar']

In [27]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'axar']

In [28]:
team_b.append("Hardik")

In [29]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [30]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

### Shallow copy
* list
* [:]
* copy

In [31]:
team_c = team_a[:]   # it is shallow copy (1st way)

In [32]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [33]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [34]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [35]:
team_a.append("Pant")

In [36]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant']

In [37]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant']

In [38]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [39]:
team_a[0] = "Shikhar"

In [40]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant']

In [41]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant']

In [42]:
team_c #it shallow copy so

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [43]:
team_d = list(team_a)   # it is shallow copy (2nd way)

In [44]:
team_a.append("Kuldeep")

In [45]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep']

In [46]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep']

In [47]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'axar', 'Hardik']

In [48]:
team_d

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant']

In [49]:
team_e = team_a.copy()   # it is shallow copy (3rd way)

In [50]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep']

In [51]:
team_e

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep']

In [52]:
team_a.append("Jadeja")

In [53]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep', 'Jadeja']

In [54]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep', 'Jadeja']

In [55]:
team_e

['Shikhar', 'Rahane', 'Ashwin', 'axar', 'Hardik', 'Pant', 'Kuldeep']

In [56]:
list_1 = [100, [1, 2, 3], 200, 300]

In [57]:
list_2 = list_1.copy()   # it is shallow copy

In [58]:
list_1

[100, [1, 2, 3], 200, 300]

In [59]:
list_2

[100, [1, 2, 3], 200, 300]

In [60]:
list_1.append(400)

In [61]:
list_1

[100, [1, 2, 3], 200, 300, 400]

In [62]:
list_2

[100, [1, 2, 3], 200, 300]

In [63]:
list_1[1]

[1, 2, 3]

In [64]:
list_1[1].append(4)

In [65]:
list_1

[100, [1, 2, 3, 4], 200, 300, 400]

In [66]:
list_2   # shallow copy not work in list of list

[100, [1, 2, 3, 4], 200, 300]

In [67]:
list_1[1].append(5)

In [68]:
list_1

[100, [1, 2, 3, 4, 5], 200, 300, 400]

In [70]:
list_2

[100, [1, 2, 3, 4, 5], 200, 300]

In [71]:
list_1[1].append("18mar221")

In [72]:
list_1

[100, [1, 2, 3, 4, 5, '18mar221'], 200, 300, 400]

In [73]:
list_1[1] = "18mar2021"

In [74]:
list_1

[100, '18mar2021', 200, 300, 400]

In [75]:
list_2 # here shallow copy not work bcz inside list there are MMUTABKE elements so go withh Deep copy

[100, [1, 2, 3, 4, 5, '18mar221'], 200, 300]

## Deep copy

In [76]:
import copy

In [77]:
dc_1 = ['a', 'b', [100, 200, 300], 'c']

In [78]:
dc_2 = copy.deepcopy(dc_1)

In [79]:
dc_1

['a', 'b', [100, 200, 300], 'c']

In [80]:
dc_2

['a', 'b', [100, 200, 300], 'c']

In [81]:
dc_1[2].append(400)

In [82]:
dc_1

['a', 'b', [100, 200, 300, 400], 'c']

In [83]:
dc_2

['a', 'b', [100, 200, 300], 'c']

In [84]:
v = "Virat", 31, "RCB" # Packing

In [85]:
print(v)

('Virat', 31, 'RCB')

In [86]:
type(v)

tuple

In [87]:
n, a, t = "Rohit", 33, "MI"

In [88]:
n

'Rohit'

In [89]:
type(n)

str

In [90]:
a

33

In [91]:
type(a)

int

In [92]:
t

'MI'

In [93]:
type(t)

str

### Practice Questions

In [94]:
a,b,c=1,2,3

In [95]:
a,b,c

(1, 2, 3)

In [96]:
print(a,b,c)

1 2 3

In [97]:
#conversions
c = ["India", "USA", "Srilanka"]

In [98]:
t_c = tuple(c)

In [99]:
t_c

('India', 'USA', 'Srilanka')

In [100]:
lst_from_t = list(t_c)

In [101]:
lst_from_t

['India', 'USA', 'Srilanka']

In [102]:
t=()

In [103]:
t

()

In [104]:
type(t)

tuple

In [105]:
t1 = ("18Mar2021")

In [106]:
type(t1)

str

In [109]:
t2 = ("18mar",)

In [110]:
type(t2)

tuple

In [111]:
t2*5

('18mar', '18mar', '18mar', '18mar', '18mar')

In [112]:
t2

('18mar',)

In [113]:
len(t2)

1

In [114]:
t2[2]

IndexError: tuple index out of range