In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
lst_data = [10, 20, 30]

In [3]:
s_lst_data = pd.Series(lst_data)

In [4]:
s_lst_data

0    10
1    20
2    30
dtype: int64

In [8]:
s_lst_data_label = pd.Series(lst_data, index=labels)

In [9]:
s_lst_data_label

a    10
b    20
c    30
dtype: int64

In [10]:
s_lst_data_label.index

Index(['a', 'b', 'c'], dtype='object')

In [11]:
arr = np.array([11, 22, 33])

In [12]:
arr

array([11, 22, 33])

In [13]:
s_arr_labels = pd.Series(arr, labels)

In [14]:
s_arr_labels

a    11
b    22
c    33
dtype: int32

In [15]:
d = {'a': "41", "b": 51, "c": 61}

In [16]:
pd.Series(d)

a    41
b    51
c    61
dtype: object

In [19]:
d = {"India": "Delhi", "Srilanka": "Colombo", "Australia": "Sydney"}

In [20]:
pd.Series(d)

India          Delhi
Srilanka     Colombo
Australia     Sydney
dtype: object

In [21]:
pd.Series(d, labels)

a    NaN
b    NaN
c    NaN
dtype: object

In [22]:
labels = ['a', 'b', 'a']
lst_data = [10, 20, 30]

In [23]:
pd.Series(lst_data, labels)

a    10
b    20
a    30
dtype: int64

In [25]:
d = {"India": "Delhi", "Srilanka": "Colombo", "a": "Sydney"}

In [28]:
s1 = pd.Series(d, labels)

In [29]:
s1

a    Sydney
b       NaN
a    Sydney
dtype: object

In [30]:
s1["a"]

a    Sydney
a    Sydney
dtype: object

In [31]:
s_example = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [32]:
s_example

d    4
b    7
a   -5
c    3
dtype: int64

In [33]:
s_example.values

array([ 4,  7, -5,  3], dtype=int64)

In [34]:
s_example.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [35]:
s_example['d']

4

In [36]:
s_example['d'] = 100

In [37]:
s_example

d    100
b      7
a     -5
c      3
dtype: int64

In [38]:
s_example > 0

d     True
b     True
a    False
c     True
dtype: bool

In [39]:
s_example[s_example > 0]

d    100
b      7
c      3
dtype: int64

In [40]:
# in

In [41]:
"d" in s_example

True

In [42]:
100 in s_example

False

In [45]:
100 in s_example.values

True

In [46]:
s_example.values

array([100,   7,  -5,   3], dtype=int64)