## modul and floor division

In [9]:
a=13
b=4

In [10]:
a//b, a%b

(3, 1)

In [11]:
a=-13
b=4

In [12]:
a//b, a%b

(-4, 3)

In [13]:
a=13
b=-4

In [14]:
a//b, a%b

(-4, -3)

In [15]:
a=-13
b=-4

In [16]:
a//b, a%b

(3, -1)

In [17]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [18]:
type(list1)

list

In [19]:
tup1=(10,20,30,40,50)
tup1

(10, 20, 30, 40, 50)

In [20]:
type(tup1)

tuple

In [21]:
str='hello world'
str

'hello world'

In [22]:
type(str)

str

In [23]:
list1

[1, 2, 3, 4, 5]

In [24]:
list1[1]

2

In [25]:
list1[-1]

5

In [26]:
tup1

(10, 20, 30, 40, 50)

In [27]:
tup1[4]

50

In [28]:
tup1[-1]

50

### Slicing

In [29]:
str

'hello world'

In [30]:
str[1:3]

'el'

In [31]:
str[0:5]

'hello'

In [32]:
list1

[1, 2, 3, 4, 5]

In [33]:
list1[2:]

[3, 4, 5]

In [34]:
list1[:4]

[1, 2, 3, 4]

In [35]:
list1[:]

[1, 2, 3, 4, 5]

In [40]:
list1[1:4:2]

[2, 4]

In [41]:
list1[::-1]

[5, 4, 3, 2, 1]

In [42]:
list(enumerate(str))

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

## Iterable

In [43]:
for x in [1,2,3]:
    print(x)

1
2
3

In [44]:
for x in [1,2,3]:
    print(x)
    print('hi')

1
hi
2
hi
3
hi

In [45]:
for x in [1,2,3]:
    print(x)
print('hi')

1
2
3
hi

In [46]:
for i in list1:
    print(i)

1
2
3
4
5

In [47]:
for y in "hello":
    print(y)

h
e
l
l
o

In [48]:
list2=[1,5.5,'hi']
list2

[1, 5.5, 'hi']

In [49]:
tup2=(4,7.7,"hello")
tup2

(4, 7.7, 'hello')

In [52]:
str2="hello123"
str2

'hello123'

## Sequence method

In [53]:
list1

[1, 2, 3, 4, 5]

In [54]:
3 in list1

True

In [55]:
10 in list1

False

In [56]:
10 not in list1

True

In [57]:
str

'hello world'

In [58]:
'w' in str

True

In [59]:
'a' in str

False

## Concatenate

In [60]:
list1 + list2

[1, 2, 3, 4, 5, 1, 5.5, 'hi']

In [61]:
tup1 + tup2

(10, 20, 30, 40, 50, 4, 7.7, 'hello')

In [62]:
'abc'+'xyz'

'abcxyz'

## Repititon

In [63]:
3*'abc'

'abcabcabc'

In [64]:
5*list1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Min Max Len

In [65]:
list1

[1, 2, 3, 4, 5]

In [66]:
min(list1)

1

In [68]:
max(list1)

5

In [69]:
len(list1)

5

In [74]:
list3=[1,2,3,5.5,9.9]
list3

[1, 2, 3, 5.5, 9.9]

In [75]:
min(list3)

1

In [76]:
max(list3)

9.9

In [77]:
len(list3)

5

## Index Position

In [84]:
str

'hello world'

In [85]:
str.index('w')

6

In [86]:
str.index('l',5)

9

In [87]:
str.index('o',5,9)

7

## Addition of elemnts

In [88]:
list1

[1, 2, 3, 4, 5, 10]

In [89]:
list1.append(10)
list1

[1, 2, 3, 4, 5, 10, 10]

In [90]:
list1.append([20,30])
list1

[1, 2, 3, 4, 5, 10, 10, [20, 30]]

In [91]:
tup1

(10, 20, 30, 40, 50)

In [92]:
tup1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [93]:
list1

[1, 2, 3, 4, 5, 10, 10, [20, 30]]

In [94]:
list1.insert(3,55)

In [95]:
list1

[1, 2, 3, 55, 4, 5, 10, 10, [20, 30]]

In [96]:
list1[4]=99
list1

[1, 2, 3, 55, 99, 5, 10, 10, [20, 30]]

In [97]:
list1[1:4]=(55,66,77)
list1

[1, 55, 66, 77, 99, 5, 10, 10, [20, 30]]

## Remove Elements

In [98]:
lst=[10,20,30,40,50,60,70,80,90,100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [99]:
del lst[1:4]

In [100]:
lst

[10, 50, 60, 70, 80, 90, 100]

In [101]:
x=lst.pop(2)
x

60

In [102]:
lst

[10, 50, 70, 80, 90, 100]

In [103]:
x=lst.pop()
x

100

In [104]:
lst

[10, 50, 70, 80, 90]

In [105]:
lst.clear()

In [106]:
lst

[]

## Reverse

In [108]:
lst=[10,20,30,40,50,60,70,80,90,100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [115]:
lst.reverse()

In [116]:
lst

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [111]:
lst[::-1]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [112]:
lst[::-1]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## Sort

In [117]:
lst.sort()

In [118]:
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [119]:
list3=['c','c++','pyhton','java']
list3

['c', 'c++', 'pyhton', 'java']

In [120]:
list3.sort()
list3

['c', 'c++', 'java', 'pyhton']

## Tuple

In [121]:
tup=([1,2,3,4],[5,6,7])
tup

([1, 2, 3, 4], [5, 6, 7])

In [122]:
tup[0]

[1, 2, 3, 4]

In [123]:
tup[0].append(44)

In [124]:
tup

([1, 2, 3, 4, 44], [5, 6, 7])

## String

In [125]:
my_str='python'
my_str

'python'

In [126]:
my_str.capitalize()

'Python'

In [133]:
my_str1='hello world'
my_str1

'hello world'

In [134]:
my_str1.capitalize()

'Hello world'

In [135]:
my_str1.title()

'Hello World'

In [137]:
my_str1.lower()

'hello world'

In [138]:
my_str1.upper()

'HELLO WORLD'

In [139]:
'PYHTON'.lower()

'pyhton'

In [140]:
'pYHTON'.swapcase()

'Pyhton'

In [141]:
'pyhton'.endswith('on'),'pyhton'.endswith('ab')

(True, False)

In [142]:
my_str

'python'

In [143]:
my_str.find('t')

2

In [144]:
my_str.find('a')

-1

In [145]:
str1='python3'
str1

'python3'

In [149]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

(False, True, False)

In [150]:
str2='123'
str2

'123'

In [152]:
str2.isalpha(),str2.isalnum(),str2.isnumeric()

(False, True, True)

In [153]:
' '.isspace(),''.isspace()

(True, False)

In [154]:
' python '.strip()

'python'

In [155]:
'   python  '.lstrip()

'python  '

In [156]:
'  python  '.rstrip()

'  python'

In [160]:
'1,2,3,'.split(',')

['1', '2', '3', '']

In [161]:
'ab;cd;ef'.split(';')

['ab', 'cd', 'ef']

In [162]:
# count() method returns the number of occurrences of the substring in the given string.
x='welcome to pyhton basics'

In [163]:
x

'welcome to pyhton basics'

In [164]:
y="o"

In [165]:
count=x.count(y)

In [166]:
count

3

In [167]:
#print count
print("the count is :", count)

the count is : 3

In [168]:
#defining string
string="pyhton is awesome,isn't it"
string

"pyhton is awesome,isn't it"

In [169]:
string[6]

' '

In [170]:
string[25]

't'

In [171]:
substring="i"

In [172]:
substring

'i'

In [173]:
# count after first 'i' and before the last 'i'
count=string.count(substring,6,25)

In [174]:
count

3