## Modulo and floor Division

In [1]:
a=13
b=4

In [2]:
a//b,a%b

(3, 1)

In [3]:
a=-13
b=4

In [4]:
a//b,a%b

(-4, 3)

In [5]:
a=13
b=-4

In [6]:
a//b,a%b

(-4, -3)

In [9]:
a=-13
b=-4

In [10]:
a//b,a%b

(3, -1)

In [11]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [12]:
type(list1)

list

In [13]:
tup1=(10,20,30,40,50)
tup1

(10, 20, 30, 40, 50)

In [14]:
type(tup1)

tuple

In [15]:
str="Hello World"
str

'Hello World'

In [16]:
type(str)

str

In [17]:
list1

[1, 2, 3, 4, 5]

In [19]:
list1[3]

4

In [21]:
tup1

(10, 20, 30, 40, 50)

In [24]:
tup1[-1]

50

In [26]:
tup1[4]

50

## Slicing

In [28]:
str

'Hello World'

In [29]:
str[1:3]   #[start : stop-1]

'el'

In [31]:
str[0:7]

'Hello W'

In [32]:
list1

[1, 2, 3, 4, 5]

In [34]:
list1[2:]

[3, 4, 5]

In [35]:
list1[:4]

[1, 2, 3, 4]

In [36]:
list1[:]

[1, 2, 3, 4, 5]

In [38]:
list1[1:4:2]

[2, 4]

In [39]:
list1[::-1]   # for reverce

[5, 4, 3, 2, 1]

In [41]:
list(enumerate(str))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

## Iterable

In [42]:
for x in [1,2,3]:
    print(x)

1
2
3

In [43]:
for x in [1,2,3]:
   print(x)
   print('hi')

1
hi
2
hi
3
hi

In [44]:
for x in [1,2,3]:
   print(x)
print('hi')

1
2
3
hi

In [45]:
for x in list1:
    print(x)

1
2
3
4
5

In [46]:
for y in 'hello':
    print(y)

h
e
l
l
o

#### Heterogenious

In [47]:
list2=[1,5.5,'hi']

In [48]:
list2

[1, 5.5, 'hi']

In [49]:
tup2=(4,7.7,'hello')

In [50]:
tup2

(4, 7.7, 'hello')

In [51]:
str2='hello123'

In [52]:
str2

'hello123'

## Sequence Methods

In [53]:
list1

[1, 2, 3, 4, 5]

In [54]:
3 in list1

True

In [55]:
10 in list1

False

In [56]:
10 not in list1

True

In [57]:
str

'Hello World'

In [59]:
'W' in str

True

In [60]:
'a' not in str

True

## Concatenate

In [61]:
list1 + list2

[1, 2, 3, 4, 5, 1, 5.5, 'hi']

In [62]:
tup1+tup2

(10, 20, 30, 40, 50, 4, 7.7, 'hello')

In [63]:
'abc'+'xyz'

'abcxyz'

In [64]:
list1 + tup1

TypeError: can only concatenate list (not "tuple") to list

In [66]:
list1 + 'abc'    # we want only same data type

TypeError: can only concatenate list (not "str") to list

In [67]:
concat(list1,tup1)

NameError: name 'concat' is not defined

## Repitition

In [68]:
3*'abc'

'abcabcabc'

In [69]:
5*list1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# length,Min,Max

In [70]:
list1

[1, 2, 3, 4, 5]

In [71]:
len(list1)

5

In [72]:
min(list1)

1

In [73]:
max(list1)

5

In [74]:
list2

[1, 5.5, 'hi']

In [76]:
max(list2)

TypeError: '>' not supported between instances of 'str' and 'float'

In [77]:
list3=[1,5,5.5,9.9,10]
list3

[1, 5, 5.5, 9.9, 10]

In [78]:
min(list3)

1

In [79]:
max(list3)

10

In [80]:
len(list3)

5

## Index Positon

In [81]:
str

'Hello World'

In [83]:
str.index('W')

6

In [84]:
str.index("l",5)    # after 5th index

9

In [85]:
str.index('o',0,6)   # between 0 and 6 index

4

## Addition odf elements

In [86]:
list1

[1, 2, 3, 4, 5]

In [87]:
list1.append(10)  # added in last

In [88]:
list1

[1, 2, 3, 4, 5, 10]

In [89]:
list1.append([20,30])
list1

[1, 2, 3, 4, 5, 10, [20, 30]]

In [90]:
tup1

(10, 20, 30, 40, 50)

In [91]:
tup1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [92]:
list1

[1, 2, 3, 4, 5, 10, [20, 30]]

In [94]:
list1.insert(3,55)  # added in between

In [95]:
list1

[1, 2, 3, 55, 4, 5, 10, [20, 30]]

In [96]:
list1[4]=99  # for replacing

In [98]:
list1

[1, 2, 3, 55, 99, 5, 10, [20, 30]]

In [99]:
list1[1:4]=[55,66]  # less than values also replacing
list1

[1, 55, 66, 99, 5, 10, [20, 30]]

### Removing elements

In [101]:
lst=[10,20,30,40,50,60,70,80,90.100]

In [102]:
del lst[3]

In [103]:
lst

[10, 20, 30, 50, 60, 70, 80, 90.1]

In [104]:
x=lst.pop(2)

In [105]:
x

30

In [106]:
x=lst.pop()
x

90.1

In [107]:
lst.clear()

In [108]:
lst

[]

## Reverse

In [109]:
lst=[10,20,30,40,50,60,70,80,90.100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90.1]

In [111]:
lst.reverse()

In [114]:
lst

[90.1, 80, 70, 60, 50, 40, 30, 20, 10]

In [115]:
lst=[10,20,30,40,50,60,70,80,90.100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90.1]

In [116]:
lst[::-1]

[90.1, 80, 70, 60, 50, 40, 30, 20, 10]

## Sort

In [117]:
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90.1]

In [118]:
lst.sort()

In [119]:
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90.1]

In [120]:
lst.sort(reverse=True)

In [121]:
lst

[90.1, 80, 70, 60, 50, 40, 30, 20, 10]

In [122]:
list3=['c','c++','pyhton','java']
list3

['c', 'c++', 'pyhton', 'java']

In [123]:
list3.sort()
list3

['c', 'c++', 'java', 'pyhton']

## Tuple

In [124]:
tup=([1,2,3,4,],[5,6,7,8])
tup

([1, 2, 3, 4], [5, 6, 7, 8])

In [125]:
tup[0]

[1, 2, 3, 4]

In [126]:
tup[0].append(44)

In [127]:
tup

([1, 2, 3, 4, 44], [5, 6, 7, 8])

In [128]:
tup4=[(1,2,3,4),(5,6,7,8)]
tup4

[(1, 2, 3, 4), (5, 6, 7, 8)]

In [129]:
tup4[0].append(80)
tup4

AttributeError: 'tuple' object has no attribute 'append'

## Stiring