## Tuple
 . Ordered Collection of items/elements
 . IMMUTABLE
 . Syntax : ()

In [1]:
player = ('Rohet','Virat','Rahane')

In [2]:
print(player)

('Rohet', 'Virat', 'Rahane')

In [3]:
type(player)

tuple

### To accss any element use [ ]

In [4]:
player[0]

'Rohet'

In [5]:
len(player)

3

In [6]:
player[-1]

'Rahane'

In [7]:
player[:2]

('Rohet', 'Virat')

In [8]:
player.count('Virat')

1

In [9]:
player.index('Virat')

1

In [10]:
t = (100, [1,2, 3], 'March',2021)

In [11]:
t

(100, [1, 2, 3], 'March', 2021)

In [13]:
player[0] = "Rohit Sharma"

TypeError: 'tuple' object does not support item assignment

In [14]:
t

(100, [1, 2, 3], 'March', 2021)

In [15]:
t[1]

[1, 2, 3]

In [16]:
t[1].append(4)

In [17]:
t

(100, [1, 2, 3, 4], 'March', 2021)

In [18]:
t[0] = "hundred"

TypeError: 'tuple' object does not support item assignment

In [19]:
t[1] = "18"

TypeError: 'tuple' object does not support item assignment

In [20]:
t[1].append(5)

In [21]:
t

(100, [1, 2, 3, 4, 5], 'March', 2021)

## =, Shallow Copy & Deep Copy

In [22]:
team_a = ["Dhawan", "Rahane","Ashwin"]

In [23]:
team_b = team_a

In [24]:
team_b

['Dhawan', 'Rahane', 'Ashwin']

In [25]:
team_a.append("Axar")

In [26]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar']

In [27]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar']

In [28]:
team_b.append("Hardik")

In [29]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [30]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

### Shallow Copy
. List
.[:]
. copy

In [31]:
team_c = team_a[:]  #shallow copy

In [32]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [33]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [34]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [36]:
team_a.append("Pant")

In [37]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [38]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [39]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [40]:
id(team_a)

1729366165248

In [41]:
id(team_b)

1729366165248

In [42]:
id(team_c)

1729366144512

In [44]:
team_a[0] = "Shikhar"

In [45]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [46]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [47]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [48]:
team_d = list(team_a) # shallow copy

In [49]:
team_a.append("Kuldeep")

In [50]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [51]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [52]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [53]:
team_e = team_a.copy()

In [54]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [55]:
team_e

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [56]:
team_a.append("Jadeja")

In [57]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep', 'Jadeja']

In [58]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep', 'Jadeja']

In [59]:
team_e

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [60]:
list_2 = [100, [1, 2, 3], 200, 300]

In [61]:
list_2

[100, [1, 2, 3], 200, 300]